/.vs/
/out/
**.aps
**.suo
**.vcxproj.user
/fetchcontent/*-src/
/fetchcontent/ispc_compiler/
/TypeTreeGenerator/.vs
/TypeTreeGenerator/out
/Tools/TypeTreeGenerator.pdb

# Build directories
build/
.vscode/
*.o
*.so
*.dll
*.dylib
*.exe
*~
.DS_Store
